---
---

@charset "utf-8";



// Our variables
$base-font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   			27px;
$base-font-weight: 			100;
$small-font-size:  			16px;
$base-line-height: 			1.5;

$spacing-unit:     			50px;
$spacing-content:  			5%;
$spacing-content-mobile:	10px;

$max-width-content:			800px;

// Colors
$home-header-color:  		#fff;
$no-home-header-color:  	#999;

$text-color:      			#606060;
$text-titles-color:			#2f2f2f;

$grey-color:       			#828282;
$light-grey-color:      	#ddd;

// Width of the content area
$content-width:    			100%;

$on-palm:          			600px;
$on-laptop:        			800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
		"bootstrap",
        "base",
        "layout",
        "syntax-highlighting"
;
