/**
 * Mixins
 
@mixin hover-links($color){
    color: $color;
    text-decoration: none;
    padding: .6em 0;
    background-image: linear-gradient($color, $color);
    background-repeat: no-repeat;
    background-size: 100% 1px;
    background-position: center bottom 30%;
    text-shadow: 5px 0 #fff,
                 4px 0 #fff,
                 3px 0 #fff,
                 2px 0 #fff,
                 1px 0 #fff,
                -1px 0 #fff,
                -2px 0 #fff,
                -3px 0 #fff,
                -4px 0 #fff,
                -5px 0 #fff;
}

@mixin reset-hover-links(){
    color: inherit;
    text-decoration: none;
    background-image: none;
    text-shadow: none;
}
*/


/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


h5{
    font-weight: 700;
    font-size: $small-font-size;
    @media(max-width: $screen-xs-max){
        font-size: $small-font-size-mobile;
    }
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    @media(max-width: $screen-xs-max){
        font: $base-font-weight #{$base-font-size-mobile}/#{$base-line-height} $base-font-family;
    }
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Links
 */
a {
    &:hover {
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    @extend %clearfix;
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}




/**
 * Helper classes
 */
.clear{
    clear: both;
}
.small-text{
    font-size: $small-font-size;
    font-weight: $base-font-weight;
    @media(max-width: $screen-xs-max){
        font-size: $small-font-size-mobile;
    }
}
.fix-height{
    height: 100vh;
    overflow: hidden;
}