/**
 * Site header
 */
header{
    // Positioning context for the mobile navigation icon
    position: absolute;
    top: $spacing-unit;
    left: $spacing-unit;
    z-index: 2;
    color: $home-header-color;

    min-width: 120px;

    @media(max-width: $screen-xs-max){
        position: static;
        width: 100%;
        padding: 5% 5% 0 5%;
        margin-bottom: 5%;
        border-bottom: 1px solid #ccc;
    }
}

header.home{
    @media(max-width: $screen-xs-max){
        position: absolute;
        width: 100%;
        padding: 5% 5% 0 5%;
        margin-bottom: 5%;
        top: 0;
        left: 0;
        border-bottom: 0px solid transparent;
    }
}

a.site-title {
    font-size: 26px;
    letter-spacing: -1px;
    padding: 0 0 40px 0;
    display: inline-block;
    position: absolute;
    &:hover {
    }
    .logo{
        position: absolute;
        width: 120px;
        height: 40px;
    }
    .logo-white{
        opacity: 1;
        transition: opacity 1s linear;
        background: url(../img/sprites/sprite-1-white.png) no-repeat;
    }
    .logo-black{
        opacity: 1;
        transition: opacity 1s linear;
        background: url(../img/sprites/sprite-1-black.png) no-repeat;
    }
    .sprite-white-1{
        background: url(../img/sprites/sprite-1-white.png) no-repeat;
        animation: sprite 3s steps(15) 1;
    }
    .sprite-black-1{
        background: url(../img/sprites/sprite-1-black.png) no-repeat;
        animation: sprite 3s steps(15) 1;
    }
    .sprite-white-2{
        background: url(../img/sprites/sprite-2-white.png) no-repeat;
        animation: sprite 3s steps(15) 1;
    }
    .sprite-black-2{
        background: url(../img/sprites/sprite-2-black.png) no-repeat;
        animation: sprite 3s steps(15) 1;
    }
    .sprite-white-3{
        background: url(../img/sprites/sprite-3-white.png) no-repeat;
        animation: sprite 3.5s steps(15) 1;
    }
    .sprite-black-3{
        background: url(../img/sprites/sprite-3-black.png) no-repeat;
        animation: sprite 3.5s steps(15) 1;
    }
    .hiddenLogo{
        opacity: 0;
    }
}

nav {
    font-weight: 100;
    margin-left: 5px;
    margin-top: 40px;
    ul{
        margin: 0;
        li{
             @media(max-width: $screen-xs-max){
                margin: 10px 0;
            }
            a{
                @media(max-width: $screen-xs-max){
                    font-size: $base-font-size;
                }
            }
        }
    }
    a{
        color: $no-home-header-color;
    }
    a.active{
    }
    @media(max-width: $screen-xs-max){
        margin-top: 20px;
    }
}

nav.home.navbar-default{
    a{
        color: $home-header-color;
        transition: all 1s ease;
        &:hover {
        }
    }
    .navbar-collapse{
        background-color: transparent;
    }
    .icon-bar{
        background-color: #fff;
        transition: all 1s ease;
    }
}

.navbar-default{
    background-color: transparent;
    border: 0px solid transparent;
    position: relative;
    min-height: 0;
    margin-top: calc(#{$spacing-unit} + 10px);
    @media(max-width: $screen-xs-max){
        margin-bottom: 0;
        margin-top: 5px;
        padding-right: 5px;
    }
    .navbar-collapse{
        padding:0;
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        border-top: 0px solid transparent;
        transition: all .5s ease;
        @media(max-width: $screen-xs-max){
            z-index: 1;
            right: 0;
            margin-top: 10px;
        }
    }
    .collapse{
        @media(max-width: $screen-xs-max){
            display: block;
            right: -120%;
        }
    }
    .navbar-toggle{
        border-color: transparent;
        float: none;
        padding: 0;
        margin: 0;
        text-align: -webkit-right;
        .icon-bar {
            background-color: $text-titles-color;
            width: 28px;
        }
        .icon-bar + .icon-bar {
            margin-top: 7px;
        }
        .long{
            width: 40px;
        }
        &:hover, &:focus{
            background-color: transparent;
        }
    }
    .navbar-header{
        @media(max-width: $screen-xs-max){
            text-align: right;
            margin-bottom: 5%;
        }
    }
}

nav.home.black.navbar-default{
    a{
        color: $text-titles-color;
        transition: all 1s ease;
        &:hover {
        }
    }
    .icon-bar{
        background-color: $text-titles-color;
    }
}


//Animations
@keyframes sprite {
    from {background-position: 0px;}
    to {background-position: -1800px;}
}





/**
 * Page content
 */
.page-content.home{
    height: 100vh;
    width: 100%;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    transition: all .5s linear;
}

.page-content.home.blurr-effect{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.page-content{
    width: 100%;

    section{
        height: auto;
        min-height: 500px;
        width: calc(100% - ( (114px + #{$spacing-unit}) + #{$spacing-content}*2) );
        float: right;
        margin: 120px $spacing-content;
        article{
            width: 100%;
            max-width: $max-width-content;
            margin: 0 auto;
            .project, .title-project{
                padding: 0;
            }
        }
        h1{
            font-size: $base-font-size;
            color: $text-titles-color;
            margin-bottom: 40px;
            display: none;
            @media(max-width: $screen-xs-max){
                display: block;
            }
        }
        h2{
            font-size: $base-font-size;
            font-weight: 400;
            color: $text-titles-color;
            @media(max-width: $screen-xs-max){
                font-size: $base-font-size-mobile;
            }
        }
        img{
            width: 100%;
        }
        p.btn{
            text-align: center;
            margin: 100px 0 0 0;
            display: block;
            font-size: $base-font-size;
            a{
                padding: 10px 80px;
                border: 1px solid $grey-color;
                font-weight: 400;
                color: $text-titles-color;
                transition: all .2s linear;
                &:hover {
                    background-color: $text-titles-color;
                    color: #fff;
                }
            }
        }
        @media(max-width: $screen-xs-max){
            width: calc(100% - (#{$spacing-content}*2 + 5px ));
            margin: $spacing-content $spacing-content 120px $spacing-content;
        }
        
    }
}

.projects-list-home{
    height: 100%;
    width: 100%;
    background-color: #ccc;
    .carousel{
        height: 100%;
        .carousel-inner{
            height: 100%;
            //position: relative;
            .item{
                height: 100%;
                width: 100%;
                background-size: cover;
                display: block;
                position: absolute;
            }
        }
    }
    .carousel-fade {
        .carousel-inner {
            .item {
                opacity: 0;
                -webkit-transition: opacity 1.5s;
                -moz-transition: opacity 1.5s;
                -ms-transition: opacity 1.5s;
                -o-transition: opacity 1.5s;
                transition: opacity 1.5s;
            }
            .item.active{
                left:0;
                opacity:1;
            }
        }
    }
}

.img-copy{
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: $home-header-color;
    font-size: $small-font-size;
    transition: color 1s ease;
    @media(max-width: $screen-xs-max){
        bottom: 10px;
        right: 10px;
        font-size: 10px;
    }

    
}
.img-copy.black{
    color: $text-titles-color;
}

.drag-icon{
    width: 50px;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin: 15px;
    margin-left: -25px;

    .manina{
        width: 19px;
        height: 27px;
        position: relative;
        margin: auto 0;
        margin-top: 8px;
        opacity: 1;
        background:url("../img/manina-white.png");
        background-size: cover;
        transition: background 1s ease;

        animation: hand-drag 3s ease-in-out, 1s hand-disappear 5s;
        animation-fill-mode: forwards;
    }
    .manina.black{
        background:url("../img/manina-black.png");
        background-size: cover;
    }

    .drag-bar{
        width: 10px;
        height: 3px;
        background-color: #fff;
        border-radius: 1.5px;
        position: relative;
        display: block;
        margin: 0;
        transition: background-color 1s ease;

        animation: drag 1.2s infinite ease-in-out alternate;
    }

    .drag-bar.black{
        background-color: $text-titles-color;
    }
}

@keyframes drag {
    0% {width: 10px; left: 0;}
    50% {width: 20px;}
    100% {width: 10px; left: 40px;}
}

@keyframes hand-drag {
    0% {left: 0;}
    40% {left: 40px;}
    80% {left: 0;}
    100% {left: 20px;}
}

@keyframes hand-disappear {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}



#map {
    width: 100%;
    height: 400px;
 }

.col {
    margin-bottom: $spacing-unit / 2;
    vertical-align: top;
    @media(max-width: $screen-sm-max){
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}

.col-1{
    float: left;
    @media(max-width: $screen-sm-max){
       float: none;
    }
}

.col-2{
    margin: 0 auto;
    width: 261px;
    @media(max-width: $screen-sm-max){
       width: 100%;
    }
}

.col-3{
    float: right;
    @media(max-width: $screen-sm-max){
       float: none;
    }
}

//row
.row{
    z-index: 0;
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $light-grey-color;
    padding: $spacing-unit 0;
    font-weight: 100;
    .title{
        font-weight: $base-font-weight
    }

    .cookies{
        float: left;
        margin-right: 20px;
        @media(max-width: $screen-sm-max){
            float: none;
        }
    }
}



