/**
 * Site header
 */
header{
    // Positioning context for the mobile navigation icon
    position: absolute;
    top: $spacing-unit;
    left: $spacing-unit;
    z-index: 2;
    color: $home-header-color;

    min-width: 120px;

    @media(max-width: $screen-xs-max){
        position: static;
        width: 100%;
        padding: 5% 5% 0 5%;
        margin-bottom: 5%;
        border-bottom: 1px solid #ccc;
    }
}

header.home{
    @media(max-width: $screen-xs-max){
        position: absolute;
        width: 100%;
        padding: 5% 5% 0 5%;
        margin-bottom: 5%;
        top: 0;
        left: 0;
        border-bottom: 0px solid transparent;
    }
}

a.site-title {
    font-size: 26px;
    letter-spacing: -1px;
    padding: 0 0 40px 0;
    display: block;
    @include reset-hover-links();
    &:hover {
        @include reset-hover-links();
    }
    .logo{
        position: absolute;
        width: 120px;
        height: 40px;
        animation: sprite 1s steps(16) 3;
    }
    .logo-white{
        background: url(../img/sprite-1-white.png) no-repeat;
        opacity: 1;
        transition: all 1s ease;
    }
    .logo-black{
        background: url(../img/sprite-1-black.png) no-repeat;
        opacity: 1;
        transition: all 1s ease;
    }
    .hiddenLogo{
        opacity: 0;
    }
}

nav {
    font-weight: 100;
    margin-left: 5px;
    margin-top: 40px;
    ul{
        margin: 0;
        li{
             @media(max-width: $screen-xs-max){
                margin: 10px 0;
            }
        }
    }
    a{
        @include reset-hover-links();
        color: $no-home-header-color;
    }
    a.active{
        @include hover-links($text-titles-color);
    }
    @media(max-width: $screen-xs-max){
        margin-top: 20px;
    }
}

nav.home.navbar-default{
    a{
        @include reset-hover-links();
        color: $home-header-color;
        transition: all 1s ease;
        &:hover {
        }
    }
    .navbar-collapse{
        background-color: transparent;
    }
    .icon-bar{
        background-color: #fff;
        transition: all 1s ease;
    }
}

.navbar-default{
    background-color: transparent;
    border: 0px solid transparent;
    position: relative;
    min-height: 0;
    @media(max-width: $screen-xs-max){
        margin-bottom: 0;
    }
    .navbar-collapse{
        padding:0;
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        border-top: 0px solid transparent;
        transition: all .5s ease;
        @media(max-width: $screen-xs-max){
            z-index: 1;
            left: 0;
            margin-top: 10px;
        }
    }
    .collapse{
        @media(max-width: $screen-xs-max){
            display: block;
            left: -120%;
        }
    }
    .navbar-toggle{
        border-color: transparent;
        float: none;
        padding: 0;
        margin: 0;
        .icon-bar {
            background-color: $text-titles-color;
            width: 28px;
        }
        .icon-bar + .icon-bar {
            margin-top: 8px;
        }
        .long{
            width: 40px;
        }
        &:hover, &:focus{
            background-color: transparent;
        }
    }
    .navbar-header{
        @media(max-width: $screen-xs-max){
            margin-bottom: 5%;
        }
    }
    @media(max-width: $screen-xs-max){
        margin-top: 20px;
    }
}

nav.home.black.navbar-default{
    a{
        @include reset-hover-links();
        color: $text-titles-color;
        transition: all 1s ease;
        &:hover {
        }
    }
    .icon-bar{
        background-color: $text-titles-color;
    }
}








@keyframes sprite {
    from {background-position: 0px;}
    to {background-position: -1920px;}
}





/**
 * Page content
 */
.page-content.home{
    height: 100vh;
    width: 100%;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    transition: all .5s linear;
}

.page-content.home.blurr-effect{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.page-content{
    width: 100%;

    section{
        height: auto;
        min-height: 500px;
        width: calc(100% - ( (114px + #{$spacing-unit}) + #{$spacing-content}*2) );
        float: right;
        margin: 120px $spacing-content;
        article{
            width: 100%;
            max-width: $max-width-content;
            margin: 0 auto;
            .projects-list{
                display: flex;
                flex-flow: wrap row;
            }
            .project, .title-project{
                width: 50%;
            }
        }
        h2{
            font-size: $base-font-size;
            font-weight: 400;
            color: $text-titles-color;
        }
        img{
            width: 100%;
        }
        p.btn{
            text-align: center;
            margin: 100px 0 0 0;
            display: block;
            font-size: $base-font-size;
            a{
                @include reset-hover-links();
                padding: 10px 80px;
                border: 1px solid $grey-color;
                font-weight: 400;
                color: $text-titles-color;
                transition: all .2s linear;
                &:hover {
                    background-color: $text-titles-color;
                    color: #fff;
                }
            }
        }
        @media(max-width: $screen-xs-max){
            width: calc(100% - (#{$spacing-content}*2 + 5px ));
            margin: $spacing-content $spacing-content 120px $spacing-content;
        }
        
    }
}

.projects-list-home{
    height: 100%;
    width: 100%;
    background-color: #ccc;
    .carousel{
        height: 100%;
        .carousel-inner{
            height: 100%;
            .item{
                height: 100%;
                width: 100%;
                //background: url(../img/home/pepsi-home.jpg) center;
                background-size: cover;
                z-index: 1;
            }
        }
    }
    .carousel-fade {
        .carousel-inner {
            transition: opacity 1s linear;
            .item {
                opacity: 0;
                transition: opacity 1s linear;
            }
            
            .active.left,
            .active.right{
                opacity: 0;
            }

            .active,
            .next.left,
            .prev.right{
                opacity: 1;
            }
        }
    }

}

.img-copy{
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: $home-header-color;
    font-size: $small-font-size;
}

#map {
    width: 100%;
    height: 400px;
 }

//flex wrapper used in footer and contact
.flex-wrapper{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}

.col {
    margin-bottom: $spacing-unit / 2;
    vertical-align: top;
}

.col-1{
    float: right;
}

.col-2{
    margin: 0 auto;
}

.col-3{
    float: left;
}

//row
.row{
    z-index: 0;
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $light-grey-color;
    padding: $spacing-unit 0;
    font-weight: 100;
    .title{
        font-weight: $base-font-weight
    }

    .cookies{
        float: left;
        margin-right: 20px;
    }
}



